/* Add this to your global CSS or App.css */
main {
  padding-top: 80px; /* Adjust based on your navbar height */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust this value to match your navbar height */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
